:root {
    --main-text: #212529;
}

* {
    text-decoration: none;
}

a {
    color: var(--main-text)!important;
}

a:hover {
    text-decoration: none!important;
}

li {
    list-style-type: none;
}

body {
    background: #fafafa;
}

#header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #fff;
}

#header .logo img {
    max-width: 200px;
}

#header .icons img {
    max-width: 25px;
}

#header .dropdown-toggle {
    background: transparent;
    border: 0;
    color: var(--main-text);
}

#header .dropdown-toggle:focus {
    box-shadow: none;
}

#header .dropdown-menu {
    margin: 0;
}

#header .menus>* {
    vertical-align: middle;
}

.banner {
    background-size: 100%;
    background-position: center;
}

.banner .backdrop-filter {
    backdrop-filter: blur(8px)
}

.banner .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    left: unset;
    right: unset;
    bottom: 0;
    width: 100%;
}

@media screen and (min-width: 992px) {
    .carousel,
    .carousel .carousel-item img {
        height: 500px;
    }
}

.title {
    font-size: 2rem
}

.title span {
    vertical-align: middle;
}

.tags {
    font-size: initial;
    border-radius: 5px;
}

.tags.blue {
    background: #86d3f3;
}

.news {
    border-radius: 15px;
    border: 1px solid #eee;
    background: #fff;
}

.news .date {
    border-bottom: 1px solid #eee;
}

.news img {
    max-width: 100%;
    max-height: 200px;
    position: relative;
}

.pointer {
	cursor: pointer;
}


/* News Detail page */

#news-detail .sub-title {
    border-bottom: 1px solid #eee;
}

@media screen and (max-width: 991px) {
    #header .dropdown-menu {
        position: relative;
        width: 100%;
        float: none;
        border: 0;
    }
    #header .form-inline {
        display: block;
    }
    .carousel-caption h3,
    .carousel-caption p {
        margin: 0;
        font-size: 0.75rem;
    }
}